/* dashboard-user.component.css */

.dashboard-container {
  position: relative;
  background-color: rgba(191, 29, 29, 0.692); /* Dark red with 75% transparency */
  color: white; /* Text color */
  padding: 20px;
  top:250px;
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.browse-button {
  background-color: #fff; /* White background */
  color: rgba(139, 0, 0, 0.75); /* Dark red text color */
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

/* user-browse-catering-service.component.css */

.background-container {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/caterpillar-hestia.appspot.com/o/_images%2Fuser_home_background.png?alt=media&token=1dc85c53-1626-4244-bb74-24e07ec4492d');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; 
  font-family: 'Langar', sans-serif; 
  /* Add any additional styles specific to this component */
}
