.displayTable {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  /* min-height: calc(100vh - 102px); */
  background-color: #ee6144;
  /* margin: 10px 0; */
  justify-content: center;
}

.displayTableCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.authBlock {
  background-color: #e4a582;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 50px;
}

.authBlock h3 {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  font-size: 24px;
  font-weight: bold;
}


  .logo img {
    width: 300px; /* Adjust the width as needed */
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .authBlock h3 {
    font-family: 'Poppins', sans-serif;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .btn.btnPrimary {
    background-color: #a89200;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 16px;
  }
  
  .btn.btnPrimary:hover {
    background-color: #fc0808;
  }
  
  .redirectToLogin {
    margin-top: 20px;
    color: #fff;
  }
  
  .redirect {
    color: #089efc;
    cursor: pointer;
    text-decoration: underline;
  }
  .redirect a:hover{
    color: #fcfc08;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; /* Adjust the spacing between textboxes as needed */
    margin-bottom: 15px; 
  }

  .catererpassword {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    outline: none;
  }

  .CPTitle {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 20px;
  }

  /**/
.ul2{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.STcontainer{
  display: flex;
}

.side_navbar{
  position: absolute;
  top: 0px;
  bottom: 0;
  /* height: 100vh; */
  left: 0;
  background: #AC0000;
  width: 60px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.ul2 a{
  position: relative;
  color: white;
  font-size: 16px;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 300px;
  padding: 6px;
  
}

.ul2 a:hover{
  background: #FF6A00;
  cursor: pointer;
  color: #FFF016;
  text-shadow: 0px 0px 5px black;
}

.ul2 a:hover img{
  /* background:  #AC0000; */
  filter: invert(12%) sepia(81%) saturate(10000%) hue-rotate(355deg) brightness(88%) contrast(116%) drop-shadow(0px 0px 5px white);
}

.side_navbar:hover{
  width: 250px;
  transition: all 0.5s ease;
}

.logout{
  position: absolute;
  bottom: 0;
}

.icon-size{
  height: 50px;
}

.nav-item{
  padding-left: 15px;
}

.side_navbar_separator{
  height: 210px;
}