<nav>
<app-signup-header></app-signup-header>
</nav>
<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <div class="logo" routerLink="/">
        <img src="assets/caterpillar logo with shadow.png" alt="CaterPillar Logo">
      </div>
      <h2 class="CPTitle">Change Password</h2>
      <div class="info">
        <!-- Input for old password -->
        <div class="form-field d-flex align-items-center">
          <input
            type="password"
            class="catererpassword"
            placeholder="Enter Old Password"
            autocomplete required
            [(ngModel)]="oldPassword"
          />
        </div>
        <!-- Input for new password -->
        <div class="form-field d-flex align-items-center">
          <input
            type="password"
            class="catererpassword"
            placeholder="Enter New Password"
            autocomplete required
            [(ngModel)]="newPassword"
          />
        </div>
        <!-- Input to confirm new password -->
        <div class="form-field d-flex align-items-center">
          <input
            type="password"
            class="catererpassword"
            placeholder="Confirm New Password"
            autocomplete required
            [(ngModel)]="confirmPassword"
          />
        </div>
      </div>

      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="changePassword()">
          <i class="fas fa-redo-alt"></i>
          Submit
        </button>
      </div>
      <span>Go back to <span class="redirect" routerLink="/dashboard">your dashboard</span></span>
    </div>
  </div>
</div>