<!-- <app-signup-header></app-signup-header> -->
<div class="authPage">

  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <div class="logo-container">
          <img src="assets/caterpillar logo with shadow and lied.png" alt="Logo" class="inner-logo">
          <h2 class="stepsTitle">Sign In as Caterer</h2>
        </div>
        <div class="authForm">
          <div>
            <input type="email" id="email" placeholder="Email Address" [(ngModel)]="catererBInfo.catererEmail">
          </div>
          <div>
            <input type="password" id="password" placeholder="Password" [(ngModel)]="catererBInfo.catererPwd">
          </div>
        
          <button (click)="onSignInCaterer()">SIGN IN</button>
          <div class="ColorT terms-text">
            <a routerLink="/password-recovery">Forget password?</a>
       </div>
          <p class="ColorT terms-text">By signing in, you agree to CaterPillar 
           
            <a href="/terms">Terms of Service</a>
            &
            <a href="/privacy-policy">Privacy Policy</a>
          </p>
          <p class="ColorT login-text">Want to share your service? <a href="register-caterer"> Sign up as Caterer</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
