<div class="header-position">
<app-header-user></app-header-user>
</div>
<app-search></app-search>

<!-- user-diy-selection.component.html -->
<div class="position">
<div class="category-tabs">
  <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Maincourse' }" (click)="loadFoodItems('maincourseItems')">Main Course</div>
  <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Appetizer' }" (click)="loadFoodItems('appetizerItems')">Appetizer</div>
  <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Soup' }" (click)="loadFoodItems('soupItems')">Soup</div>
  <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Salad' }" (click)="loadFoodItems('saladItems')">Salad</div>
  <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Dessert' }" (click)="loadFoodItems('dessertItems')">Dessert</div>
  <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Drink' }" (click)="loadFoodItems('drinkItems')">Drink</div>
</div>

<div class="forms-container">
<form class="items-form">
  <div class="items-container">
    
    <ul class="items-list">
      <li class="list-item" *ngFor="let item of selectedItems | async">
        <div>
          <img [src]="item.food_image" alt="Food Image" class="food-image">
        </div>
        <div class="price-tag">
          ₱{{ item.pax_price }}/pax
        </div>
        <div class="pax">
          caters {{ item.minimum_pax }} to {{ item.maximum_pax }} pax
        </div>
      <div>
        <h2>{{ item.food_name }}</h2>
      </div>
      <div>
        <strong>Description:</strong>
        <ng-container *ngIf="!item.showFullDescription && item.food_description.length > 25">
          {{ item.food_description.slice(0, 25) }}...
          <span class="see-more" (click)="foodtoggleDescription(item)">See more</span>
        </ng-container>
        <ng-container *ngIf="item.showFullDescription || item.food_description.length <= 25">
          {{ item.food_description }}
          <span class="see-more" *ngIf="item.showFullDescription" (click)="foodtoggleDescription(item)">See less</span>
        </ng-container>
      </div>
    </li>
  </ul>
</div>
</form>

<form class="extra-service-form">
   <!-- <h2>Extra Services</h2> -->
  <div class="extra-service-container">
    <ul class="extra-service-list">
      <li class="list-extra-service" *ngFor="let extraService of extraServiceItems | async">
        <!-- Display extra service details here -->
        <div>
          <img [src]="extraService.esImage" alt="Event Image" class="food-image">
        </div>
        <div>
          <h2>{{ extraService.esName }}</h2>
        </div>
        <div class="price-tag">
          ₱{{ extraService.esPrice }}/hour
        </div>
        <div class="pax">
          serves {{ extraService.esMinHours }} to {{ extraService.esMaxHours }} hours
        </div>
      <div>
        <strong>Description:</strong>
        <ng-container *ngIf="!extraService.showFullDescription && extraService.esDescription.length > 25">
          {{ extraService.esDescription.slice(0, 25) }}...
          <span class="see-more" (click)="estoggleDescription(extraService)">See more</span>
        </ng-container>
        <ng-container *ngIf="extraService.showFullDescription || extraService.esDescription.length <= 25">
          {{ extraService.esDescription }}
          <span class="see-more" *ngIf="extraService.showFullDescription" (click)="estoggleDescription(extraService)">See less</span>
        </ng-container>
      </div>
      </li>
    </ul>
  </div>
</form>

<form class="event-form">
  <h2>Events</h2>
  <div class="event-container">
    <ul class="event-list">
      <li class="list-event" *ngFor="let eventItem of eventItems | async">
        <!-- Display event details here -->
        <div>
          <h3>{{ eventItem.eventName }}</h3>
        </div>
        <div>
          <strong>Description:</strong>
          <ng-container *ngIf="!eventItem.showFullDescription && eventItem.eventDescription.length > 25">
            {{ eventItem.eventDescription.slice(0, 25) }}...
            <span class="see-more" (click)="eventtoggleDescription(eventItem)">See more</span>
          </ng-container>
          <ng-container *ngIf="eventItem.showFullDescription || eventItem.eventDescription.length <= 25">
            {{ eventItem.eventDescription }}
            <span class="see-more" *ngIf="eventItem.showFullDescription" (click)="eventtoggleDescription(eventItem)">See less</span>
          </ng-container>
        </div>
      </li>
    </ul>
  </div>
</form>

<form class="voucher-form">
  <h2>Vouchers</h2>
  <div class="voucher-container">
    <ul class="voucher-list">
      <li class="list-voucher" *ngFor="let voucherItem of voucherItems | async">
        <!-- Display voucher details here -->
        <div>
          <img [src]="voucherItem.voucherImage" alt="Voucher Image" class="voucher-image" style="max-width: 100px">
        </div>
         <div>
          <p>{{ voucherItem.voucherName }}</p>
        </div>
        <div>
          <strong>Description:</strong>
          <ng-container *ngIf="!voucherItem.showFullDescription && voucherItem.voucherDescription.length > 25">
            {{ voucherItem.voucherDescription.slice(0, 25) }}...
            <span class="see-more" (click)="vouchertoggleDescription(voucherItem)">See more</span>
          </ng-container>
          <ng-container *ngIf="voucherItem.showFullDescription || voucherItem.voucherDescription.length <= 25">
            {{ voucherItem.voucherDescription }}
            <span class="see-more" *ngIf="voucherItem.showFullDescription" (click)="vouchertoggleDescription(voucherItem)">See less</span>
          </ng-container>
        </div>
      </li>
    </ul>
  </div>
</form>

</div>

</div>