
  <!-- Request for deletion - Reason: USELESS COMPONENT BY LOPEZ SP5 -->

<div class="container">
  <!-- Tabs for selecting the category -->
  <div class="category-tabs">
    <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Maincourse' }" (click)="selectTab('Maincourse')" data-category="Maincourse">Main Course</div>
    <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Appetizer' }" (click)="selectTab('Appetizer')" data-category="Appetizer">Appetizer</div>
    <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Soup' }" (click)="selectTab('Soup')" data-category="Soup">Soup</div>
    <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Salad' }" (click)="selectTab('Salad')" data-category="Salad">Salad</div>
    <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Dessert' }" (click)="selectTab('Dessert')" data-category="Dessert">Dessert</div>
    <div class="tab" [ngClass]="{ 'selected': selectedCategory === 'Drink' }" (click)="selectTab('Drink')" data-category="Drink">Drink</div>
  </div>
  
  

  <!-- Common Food Items Table -->
  <div *ngIf="foodItems.length > 0; else noItems" class="common-table">
  <!--  <h3 class="food-items-header">{{ selectedCategory | titlecase }} Items</h3>-->
    <table class="food-items-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Minimum Pax</th>
          <th>Maximum Pax</th>
          <th>Pax Price</th>
          <!-- Actions Header Cell -->
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Common table content goes here -->
        <tr *ngFor="let foodItem of foodItems">
          <td>
            <img [src]="foodItem.food_image" alt="{{ foodItem.food_name }}" *ngIf="foodItem.food_image" class="table-image">
          </td>
          <td>{{ foodItem.food_name }}</td>
          <td>{{ foodItem.food_description }}</td>
          <td>{{ foodItem.minimum_pax }}</td>
          <td>{{ foodItem.maximum_pax }}</td>          
          <td>{{ foodItem.pax_price }}/pax</td>
          <!-- Update and Delete Icons Row -->
          <td class="update-column">
            <button class="update-button" (click)="toggleUpdateFoodItemForm(foodItem)">
              <img src="assets/arrows_update.png" alt="Update" class="icon-size">
            </button>
          </td>
          <td class="delete-column">
            <button class="delete-button" (click)="deleteFoodItem(foodItem)">
              <img src="assets/trash_can_delete.png" alt="Delete" class="icon-size">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noItems>
    <p class="no-items-message">No food items added yet in this category.</p>
  </ng-template>
</div>


<!-- Edit Form -->
<div class="edit-form" *ngIf="selectedFoodItem">
  <!-- Display the form when a food item is selected for editing -->
  <div class="diy-package">
    <!-- Close button -->
    <button class="close-button" (click)="cancelUpdate()">X</button>
    
    <div class="form-row">
      <!-- Category dropdown -->
      <div class="form-group">
        <label for="editCategory">Category:</label>
        <select class="form-control" id="editCategory" name="editCategory" [(ngModel)]="selectedFoodItem.category" [disabled]="isSelectDisabled">
          <option value="Main Course">Main Course</option>
          <option value="Appetizer">Appetizer</option>
          <option value="Soup">Soup</option>
          <option value="Salad">Salad</option>
          <option value="Dessert">Dessert</option>
          <option value="Drink">Drink</option>
        </select>
      </div>
      

      <!-- Food Name -->
      <div class="form-group">
        <label for="editFoodName">Name</label><small class="text-muted"> ({{selectedFoodItem.food_name.length}}/100 chars)</small>
        <input type="text" class="form-control" id="editFoodName" [(ngModel)]="selectedFoodItem.food_name" maxlength="100">
      </div>
    </div>

    <div class="form-row">
      <!-- Food Description -->
      <div class="form-group">
        <label for="editFoodDescription">Description</label><small class="text-muted"> ({{selectedFoodItem.food_description.length}}/1000 chars)</small>
        <textarea class="form-control fixed-textarea" id="editFoodDescription" [(ngModel)]="selectedFoodItem.food_description" maxlength="1000"></textarea>
      </div>

      <!-- Image upload input -->
      <div class="form-group">
        <label for="editFoodImage">Image</label>
        <input type="file" class="form-control" id="editFoodImage" (change)="uploadEditFoodImage($event)">
              <!-- Display existing image -->
              <div *ngIf="selectedFoodItem.food_image">
                <img [src]="selectedFoodItem.food_image" alt="Existing Image" class="image-preview">
              </div>
      </div>
    </div>

    <div class="form-row">
<!-- Minimum Pax -->
<div class="form-group">
  <label for="editMinimumPax">Minimum Pax</label>
  <input type="number" id="editMinimumPax" [(ngModel)]="selectedFoodItem.minimum_pax" min="1" (input)="limitDigits($event, 15)">
</div>

<!-- Maximum Pax -->
<div class="form-group">
  <label for="editMaximumPax">Maximum Pax</label>
  <input type="number" id="editMaximumPax" [(ngModel)]="selectedFoodItem.maximum_pax" min="1" (input)="limitDigits($event, 15)">
</div>

<!-- Pax Price -->
<div class="form-group">
  <label for="editPaxPrice">Pax Price</label>
  <input type="number" id="editPaxPrice" [(ngModel)]="selectedFoodItem.pax_price" min="0" (input)="limitDigits($event, 15)">
</div>

    </div>

    <button class="update-food-item-button" (click)="updateFoodItem()">Update Changes</button>
  </div>
</div>