<div class="CUPPage">
    <div class="CUPP_Panel CUPP_Size">
        <form [formGroup]="form" (ngSubmit)="changePassword()">
          <!-- Old Password Input -->
          <div class="form-group">
            <label for="old_password">Old Password</label>
            <div class="input-group">
              <input formControlName="old_password" id="old_password" name="old_password" [type]="oldPasswordType" class="form-control">
              <!-- Button to toggle visibility of old password -->
              <button type="button" class="btn btn-secondary" (click)="togglePassword('oldPassword')">Show</button>
            </div>
            <!-- Display error message for required validation -->
            <div *ngIf="form.get('old_password')?.hasError('required') && form.get('old_password')?.touched" class="alert alert-danger">
              Old password is required.
            </div>
          </div>
      
          <!-- New Password Input -->
          <div class="form-group">
            <label for="new_password">New Password</label>
            <div class="input-group">
              <input formControlName="new_password" id="new_password" [type]="newPasswordType" class="form-control">
              <!-- Button to toggle visibility of new password -->
              <button type="button" class="btn btn-secondary" (click)="togglePassword('newPassword')">Show</button>
            </div>
            <!-- Display error message for required validation -->
            <div *ngIf="form.get('new_password')?.hasError('required') && form.get('new_password')?.touched" class="alert alert-danger">
              New password is required.
            </div>
          </div>
      
          <!-- Confirm Password Input -->
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <div class="input-group">
              <input formControlName="confirm_password" id="confirm_password" [type]="confirmPasswordType" class="form-control">
              <!-- Button to toggle visibility of confirm password -->
              <button type="button" class="btn btn-secondary" (click)="togglePassword('confirmPassword')">Show</button>
            </div>
            <!-- Display error message for required validation -->
            <div *ngIf="form.get('confirm_password')?.hasError('required') && form.get('confirm_password')?.touched" class="alert alert-danger">
              Password confirmation is required.
            </div>
            <!-- Display error message for password mismatch -->
            <div *ngIf="doesPasswordsNotMatch" class="alert alert-danger">Passwords do not match!</div>
          </div>
      
          <!-- Success message displayed when passwordChanged is true -->
          <div *ngIf="passwordChanged" class="alert alert-success">
            Your password has been changed.
          </div>
      
          <!-- Change Password Button -->
          <button class="btn btn-primary" type="submit" [disabled]="passwordChanged">Change Password</button>
        </form>
      </div>
    </div>