.CUPPage{
    background-color: #fff;
    min-width: 1200px;
    min-height: 100vh;
    background-color: rgb(237, 231, 225, 0.5);
}

.CUPP_Size{
    height: 600px;
    justify-content: flex-end;
    
}

.CUPP_Panel{
    margin: 0 auto;
    min-height: 600px;
    width: 300px;
    align-items: flex-start;
    display: flex;
    margin-top: 50px;
}