
<header class="CaterPillar-top CaterPillar-top--sticky">
   <div class="navbar-wrapper container-wrapper">
      <nav class="container1 navbar">
         <div class="flex centre ca12t14r">
            <a routerLink="/caterer/CatererCentre" class="ca23t25r ca34t36r">Caterer Centre</a>
            <a routerLink="/seller/signup" class="flex ca23t25r ca34t36r">Start Catering</a>
         </div>
         <div class="navbar_spacer"></div>
         <ul class="ul1">
            <li>
               <a routerLink="/home">Home</a>
            </li>
            <li>
               <a routerLink="/about">About</a>
            </li>
            <li>
               <a routerLink="/contact">Contact</a>
            </li>
            <li class="menu-container">
               <a routerLink="/dashboard">KJC</a>
               <div class="menu">
                  <a routerLink="/profile">Profile</a>
                  <a routerLink="/events">Events</a>
                  <a>Logout</a>
               </div>
            </li>
         </ul>
      </nav>
   </div>
   <div class="container">
      <a routerLink="/" class="logo">
         <img src="assets/caterpillar logo with shadow.png">
      </a>
      <div class="tags_searchBar">
         <div class="searchBar">
            <input #s type="text" placeholder="Search Catering Pillar" 
            (keyup.enter)="search(s.value)" 
            [value]="searchTerm"/>
            <button (click)="search(s.value)">
               <img src="assets/Search Icon.png">
            </button>
        </div>
        <app-tags></app-tags>
      </div>
     <div class="CaterPillarCart-container">
         <a routerLink="/" class="CaterPillarCart">
            <img src="">
         </a>
         <div class="CaterPillar-menu">
         
         </div>
     </div>
     <div class="dropdown">
      <a routerLink="/CaterPillarCart" class="CaterPillarCart">
         <img src="assets/CaterPillar Cart.png">
      </a>
      <div class="dropdown-content">
        
      </div>
    </div>
   </div >
</header>