.header
{
background-color:rgba(255, 116, 0, 0.28999999165534973);
height:100px;
width:1440px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:relative;
}
.sections
{
align-self:flex-start;
left:352px;
top:33px;
position:absolute;
width:649px;
height:39px;
}
.bookonline
{
color:#9a0000;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Langar;
left:856px;
top:33px;
width:145px;
height:39px;
position:absolute;
line-height:auto;
border-style:hidden;
outline: none;
}
.services
{
color:#9a0000;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Langar;
left:730px;
top:33px;
width:104px;
height:39px;
position:absolute;
line-height:auto;
border-style:hidden;
outline: none;
}
.contact
{
color:#9a0000;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Langar;
left:604px;
top:33px;
width:97px;
height:39px;
position:absolute;
line-height: auto;
border-style: hidden;
outline: none;
}
.about
{
color:#9a0000;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Langar;
left:478px;
top:33px;
width:74px;
height:39px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.home
{
color:#9a0000;
text-align:left;
vertical-align:text-top;
font-size:28px;
font-family:Langar;
left:352px;
top:33px;
width:69px;
height:39px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.login
{
background-color:#c90000;
height:67px;
width:232px;
align-self:flex-start;
left:1110px;
top:17px;
position:absolute;
border-radius:100px;
padding:0px;
}
.signin
{
color:#fff016;
text-align:left;
vertical-align:text-top;
font-size:35px;
font-family:Lilita One;
left:54px;
top:13px;
width:123px;
height:40px;
position:absolute;
line-height:auto;
border-style:hidden;
outline: none;
}
.caterpillarlogo
{
height:59px;
width:150px;
left:93px;
top:21px;
position: absolute;
}
