<header>
   <div>
      <nav>
         <ul class="ul1">
            <li>
               <a routerLink="/home">Home</a>
            </li>
            <li>
               <a routerLink="/about">About</a>
            </li>
            <li>
               <a routerLink="/contact">Contact</a>
            </li>
            <li class="menu-container">
               <a routerLink="/dashboard">KJC</a>
               <div class="menu">
                  <a routerLink="/profile">Profile</a>
                  <a routerLink="/events">Events</a>
                  <a>Logout</a>
               </div>
            </li>
            <li>
               <a routerLink="/cart-page">
                  Cart <span>3</span>
               </a>
            </li>
         </ul>
      </nav>
   </div>
   <div class="container">
      <a routerLink="/" class="logo">
         <img src="assets/caterpillar logo with shadow.png">
      </a>
      <div class="searchBar">
         <input #s type="text" placeholder="Search Catering Pillar" 
         (keyup.enter)="search(s.value)" 
         [value]="searchTerm"/>
         <button (click)="search(s.value)">
            <img src="assets/Search Icon.png">
         </button>
     </div>
     <div class="CaterPillarCart-container">
         <a routerLink="/" class="CaterPillarCart">
            <img src="">
         </a>
         <div class="CaterPillar-menu">
         
         </div>
     </div>
     <div class="dropdown">
      <a routerLink="/CaterPillarCart" class="CaterPillarCart">
         <img src="assets/CaterPillar Cart.png">
      </a>
      <div class="dropdown-content">
        
      </div>
    </div>
   </div >
</header>