.imac-2
{
position:absolute;
background-color:#ffffff;
height:720px;
width:1280px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.ellipse2
{
background-color:#fbc694;
height:1142px;
width:1214px;
top:-648px;
left:336px;
position:absolute;
border-radius:50%;
}
.maskgroup
{
align-self:flex-start;
left:342px;
position:absolute;
width:1214px;
height:1142px;
}
.rotateimage
{
width:1214px;
height:1142px;
top:-648px;
left:342px;
position:absolute;
}
.ellipse4
{
background-color:#df8342;
height:1142px;
width:1214px;
top:-648px;
left:342px;
position:absolute;
border-radius:50%;
}
.rotateimage2
{
transform:rotate(38deg);
width:640.0470581054688px;
height:661.648681640625px;
top:422.27px;
left:492.88px;
position:absolute;
}
.ellipse3
{
background-color:rgba(217, 217, 217, 0);
height:494px;
width:529px;
transform:rotate(-33deg);
top:130.38px;
left:857.08px;
position:absolute;
border-radius:50%;
}
.image10
{
height:100px;
width:100px;
transform:rotate(38deg);
left:1179.87px;
top:611.49px;
position:absolute;
}
.image11
{
height:100px;
width:100.29069519042969px;
transform:rotate(38deg);
left:1117.19px;
top:738.13px;
position:absolute;
}
.image12
{
height:100px;
width:100.29069519042969px;
transform:rotate(38deg);
left:1171.4px;
top:467.73px;
position:absolute;
}
.image9
{
height:100px;
width:100.29069519042969px;
transform:rotate(38deg);
left:972.44px;
top:785.93px;
position:absolute;
}
.image6
{
height:100px;
width:100.29069519042969px;
transform:rotate(38deg);
left:653.32px;
top:547.47px;
position:absolute;
}
.image8
{
height:100px;
width:100.29069519042969px;
transform:rotate(38deg);
left:814.18px;
top:771.18px;
position:absolute;
}
.image3
{
height:100px;
width:100.29069519042969px;
transform:rotate(38deg);
left:633.25px;
top:396.6px;
position:absolute;
}
.image5
{
height:100px;
width:100px;
transform:rotate(38deg);
left:852.28px;
top:229.28px;
position:absolute;
}
.image22
{
height:100px;
width:100.29069519042969px;
transform:rotate(38deg);
left:716.13px;
top:282.92px;
position:absolute;
}
.image7
{
height:100px;
width:100.29069519042969px;
transform:rotate(38deg);
left:1022.75px;
top:260.33px;
position:absolute;
}
.navbarmenu
{
align-self:flex-start;
left:99px;
top:56px;
position:absolute;
width:1080.6666259765625px;
height:29px;
}
.navbar2
{
height:23px;
width:312px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:71px;
position:absolute;
top:59px;
left:410px;
}
.breakfast
{
color:#000000;
text-align:left;
vertical-align:text-bottom;
font-size:16px;
font-family:Phetsarath;
line-height:auto;
border-style:hidden;
outline:none;
width:72px;
align-self:flex-end;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.lunch
{
color:#000000;
text-align:left;
vertical-align:text-bottom;
font-size:16px;
font-family:Phetsarath;
align-self:flex-start;
left:143px;
top:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:46px;
display:flex;
}
.dinner
{
color:#000000;
text-align:left;
vertical-align:text-bottom;
font-size:16px;
font-family:Phetsarath;
align-self:flex-start;
left:260px;
top:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:52px;
display:flex;
}
.lock
{
background-color:#0d0d0d;
height:27.500001907348633px;
width:26.66666603088379px;
left:1153px;
top:57px;
position:absolute;
}
.logosection
{
height:29px;
width:155px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:20px;
position:absolute;
top:56px;
left:99px;
}
.ellipse1
{
background-color:#d9d9d9;
height:16px;
width:30px;
left:0px;
top:0px;
position:absolute;
}
.foodhunt
{
color:#000000;
text-align:left;
vertical-align:text-bottom;
font-size:20px;
font-family:Phetsarath;
align-self:flex-start;
left:50px;
top:0px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:105px;
display:flex;
}
.frame1
{
height:218px;
width:438px;
align-self:flex-start;
left:99px;
top:331px;
position:absolute;
padding:0px;
display:flex;
flex-direction:column;
}
.delicious
{
color:#eb872a;
text-align:left;
vertical-align:text-bottom;
font-size:40px;
font-family:Poppins;
line-height:auto;
border-style:hidden;
outline:none;
width:182px;
}
.quenchthehunger
{
color:#000000;
text-align:left;
vertical-align:text-bottom;
font-size:32px;
font-family:Poppins;
top:60px;
width:312px;
height:48px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.loremipsumdolorsitamet,consecteturadipiscingelit.nuncvulputateliberoetvelitinterdum,acaliquetodiomattis.classaptenttacitisociosquadlitoratorquentperconubianostra,perinceptoshimenaeos.curabiturtempusurnaatturpiscondimentumlobortis
{
color:#000000;
text-align:left;
vertical-align:text-bottom;
font-size:14px;
font-family:Poppins;
top:108px;
width:438px;
height:110px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.quenchnow
{
align-self:flex-start;
left:99px;
top:569px;
position:absolute;
width:192px;
height:56px;
}
.frame3
{
background-color:#ef8523;
height:56px;
width:192px;
border-radius:47px;
padding-left:18px;
padding-right:18px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:569px;
left:99px;
}
.quenchnow2
{
color:#ffffff;
text-align:left;
vertical-align:text-bottom;
font-size:24px;
font-family:Poppins;
align-self:flex-start;
left:18px;
top:10px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:156px;
display:flex;
}
.frame2
{
background-color:#ef8523;
height:56px;
width:192px;
border-radius:47px;
padding-left:18px;
padding-right:18px;
padding-top:10px;
padding-bottom:10px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
top:569px;
left:99px;
}
.quenchnow3
{
color:#ffffff;
text-align:left;
vertical-align:text-bottom;
font-size:24px;
font-family:Poppins;
align-self:flex-start;
left:18px;
top:10px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:156px;
display:flex;
}
.centerimage
{
align-self:flex-start;
left:846px;
top:322px;
position:absolute;
width:224.71910095214844px;
height:250px;
}
.image23
{
height:50px;
width:50px;
left:933px;
top:422px;
position:absolute;
}
.image14
{
height:250px;
width:224.71910095214844px;
left:846px;
top:322px;
position:absolute;
}
.button
{
align-self:flex-start;
left:669px;
top:524px;
position:absolute;
width:559px;
height:50px;
}
.icon
{
width:50px;
height:50px;
top:524px;
left:669px;
position:absolute;
}
.ellipse7
{
background-color:#ef8523;
height:50px;
width:50px;
top:524px;
left:669px;
position:absolute;
border-radius:50%;
}
.arrowback
{
background-color:#ffffff;
height:48px;
width:48px;
transform:rotate(90deg);
padding:0px;
left:671px;
top:574px;
position:absolute;
}
.vector
{
height:48px;
width:48px;
width:48px;
height:48px;
}
.vector2
{
background-color:#ffffff;
height:32px;
width:32px;
width:32px;
height:32px;
left:0px;
top:0px;
position:absolute;
}
.icon2
{
width:50px;
height:50px;
top:524px;
left:1178px;
position:absolute;
}
.ellipse72
{
background-color:#ef8523;
height:50px;
width:50px;
top:524px;
left:1178px;
position:absolute;
border-radius:50%;
}
.arrowback2
{
background-color:#ffffff;
height:48px;
width:48px;
transform:rotate(90deg);
padding:0px;
left:1180px;
top:574px;
position:absolute;
}
.vector3
{
height:48px;
width:48px;
width:48px;
height:48px;
}
.vector4
{
background-color:#ffffff;
height:32px;
width:32px;
width:32px;
height:32px;
left:0px;
top:0px;
position:absolute;
}