<!-- view-extra-service-table.component.html -->
<div class="container">

  <!-- Common Food Items Table -->
<div *ngIf="extraserviceItems.length > 0; else noItems" class="common-table">
  <table class="food-items-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Minimum Hours</th>
        <th>Maximum Hours</th>
        <th>Price Per Hour</th>
        <!-- Actions Header Cell -->
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
  <!-- Common Extra Service Items Table -->
  <ng-container *ngFor="let extraserviceItem of extraserviceItems; let i = index">
    <tr [ngClass]="{'editing-row': i === editedRowIndex}">
      <td>
        <ng-container *ngIf="i !== editedRowIndex; else editModeImage">
          <img [src]="extraserviceItem.esImage" alt="Extra Service Image" class="table-image">
        </ng-container>

        <ng-template #editModeImage>
          <div class="edit-image-container">
            <input type="file" (change)="uploadEditExtraServiceImage($event)" class="file-input" id="extraserviceImageInput">
            <!-- Display existing or temporary image -->
            <div class="image-preview">
              <img [src]="selectedextraserviceItem.esImage ? selectedextraserviceItem.esImage : extraserviceItem.esImage" alt="Preview Image" class="image-preview">
            </div>
            <!-- Choose File Icon -->
            <label class="file-input-label" for="extraserviceImageInput">
              <img src="assets/upload_image_icon.png" alt="Choose File Icon" class="upload-image-icon-size">
            </label>
          </div>
        </ng-template>

      </td>
      
      <td>
        <ng-container *ngIf="i !== editedRowIndex; else editModeName">
          {{ extraserviceItem.esName }}
        </ng-container>
        <ng-template #editModeName>
          <input type="text" [(ngModel)]="selectedextraserviceItem.esName" class="edit-input">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="i !== editedRowIndex; else editModeDescription">
          {{ extraserviceItem.esDescription }}
        </ng-container>
        <ng-template #editModeDescription>
          <textarea [(ngModel)]="selectedextraserviceItem.esDescription" style="resize: none; height: 200px;"></textarea>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="i !== editedRowIndex; else editModeMinPax">
          {{ extraserviceItem.esMinHours }}
        </ng-container>
        <ng-template #editModeMinPax>
          <input type="number" [(ngModel)]="selectedextraserviceItem.esMinHours" min="1">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="i !== editedRowIndex; else editModeMaxPax">
          {{ extraserviceItem.esMaxHours }}
        </ng-container>
        <ng-template #editModeMaxPax>
          <input type="number" [(ngModel)]="selectedextraserviceItem.esMaxHours" min="1">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="i !== editedRowIndex; else editModePaxPrice">
          {{ extraserviceItem.esPrice }}
        </ng-container>
        <ng-template #editModePaxPrice>
          <input type="number" [(ngModel)]="selectedextraserviceItem.esPrice" min="0">
        </ng-template>
      </td>


      <!-- Save and Cancel Buttons -->
      <td colspan="2">
        <!-- Edit and Save Icons Row -->
        <ng-container *ngIf="i === editedRowIndex; else viewMode">
          <!-- Save Button -->
          <button class="save-button" (click)="saveRow(i)">
            <img src="assets/save_icon.png" alt="Save" class="icon-size">
          </button>
          <!-- Cancel Button -->
          <button class="cancel-button" (click)="cancelEditRow()">
            <img src="assets/cancel_icon.png" alt="Cancel" class="icon-size">
          </button>
        </ng-container>
        <!-- View Mode Icons Row -->
        <ng-template #viewMode>
          <!-- Edit Button -->
          <button class="update-button" (click)="editRow(i)">
            <img src="assets/arrows_update.png" alt="Edit" class="icon-size">
          </button>
          <!-- Delete Button -->
          <button class="delete-button" (click)="deleteExtraServiceItem(extraserviceItem)">
            <img src="assets/trash_can_delete.png" alt="Delete" class="icon-size">
          </button>
        </ng-template>
      </td>
      </tr>
      </ng-container>
      <ng-template #noItems>
        <p class="no-items-message">No items added yet.</p>
      </ng-template>