<!--<div class="appetizer-item">
  <form (ngSubmit)="saveAppetizerItem()" #appetizerForm="ngForm">
    <label>Appetizer Name:</label>
    <input type="text" [(ngModel)]="appetizerItem.appetizer_name" name="appetizer_name" required>

    <label>Appetizer Description:</label>
    <textarea [(ngModel)]="appetizerItem.appetizer_description" name="appetizer_description" required></textarea>

    <label>Appetizer Image:</label>
    <input type="file" (change)="uploadAppetizerImage($event)" accept=".jpg, .png" name="appetizer_image" required>

    <img [src]="appetizerItem.appetizer_image" *ngIf="appetizerItem.appetizer_image" class="uploaded-image-preview">

    <label>Minimum Pax:</label>
    <input type="number" [(ngModel)]="appetizerItem.minimum_pax" name="minimum_pax" required>

    <label>Pax Price:</label>
    <input type="number" [(ngModel)]="appetizerItem.pax_price" name="pax_price" required>

    <button type="submit">Save Appetizer Item</button>

  </form>
</div>
-->