/* CSS file */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  
}

.styled-table th, .styled-table td {
  border: 1px solid #ff0000; /* Red border */
  padding: 10px;
  text-align: left;
  margin-left: 5%;
  
}


.button-container {
  margin-left: 38%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  background-color: #ff3333; /* Red color */
  color: #fff; /* White text */
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #cc0000; /* Darker red on hover */
}
.text-container {
  height: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}

.text-container::-webkit-scrollbar {
  width: 10px;
}

.text-container::-webkit-scrollbar-thumb {
  background-color: red;
}



.styled-table th {
  background-color: #ff3333; /* Red background for headers */
  color: white;
}

.styled-table td {
  background-color: #ffe6e6; /* Light red background for cells */
}

.delete-button, .block-button {
  background-color: #ff6666; /* Darker red background for buttons */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.delete-button:hover, .block-button:hover {
  background-color: #cc0000; /* Dark red background on hover */
}

