<div class="header">
  <a routerLink="/login-superadmin" class="logo">
    <img src="assets/caterpillar logo with shadow and lied.png" alt="Logo">
  </a>
  <div class="header-text">Customer List</div>
</div>

<div class="STcontainer">
  <nav class="side_navbar">
    <ul class="ul2">
  
      <li><a routerLink="/superadmin">
        <img src="assets/Caterer Menu.png" alt="" class="icon-size">
        <span class="nav-item">Customer</span>
      </a></li>
      <li><a routerLink="/superadmin-customer">
        <img src="assets/Add Service Type.png" alt="" class="icon-size">
        <span class="nav-item">Caterer</span>
      </a></li>
      <li><a routerLink="/reportDetails">
        <img src="assets/Add Service Type.png" alt="" class="icon-size">
        <span class="nav-item">Reports</span>
      </a></li>
    </ul>
  </nav>
</div>

<div class="table-container">

  <table class="styled-table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Status</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.uid }}</td>
        <td>{{ customer.userName }}</td>
        <td>{{ customer.status }}</td>
        <td>{{ customer.email }}</td>
        <td>
          <button (click)="confirmUnblockUser(customer.uid)" class="delete-button">Unblock</button>
          <button (click)="confirmDisableUser(customer.uid)" class="block-button">Block</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


