<!-- Admin Page Buttons -->
<app-signup-header></app-signup-header>

  <div class="STcontainer">
    <nav class="side_navbar">
      <ul class="ul2">
    
        <li><a routerLink="/dashboard-caterer">
          <img src="assets/Caterer Menu.png" alt="" class="icon-size">
          <span class="nav-item">Customer</span>
        </a></li>
        <li><a routerLink="/add-service-type">
          <img src="assets/Add Service Type.png" alt="" class="icon-size">
          <span class="nav-item">Caterer</span>
        </a></li>
      </ul>
    </nav>
  </div>
<!-- Add a class to your table to apply styles -->
<div class="table-container">

  <table class="styled-table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.uid }}</td>
        <td>{{ customer.userName }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>
          <button (click)="deleteUser(user.userId)" class="delete-button">Delete</button>
          <button (click)="blockUser(user.userId)" class="block-button">Block</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


