<div class="header">
    <a routerLink="/login-superadmin" class="logo">
      <img src="assets/caterpillar logo with shadow and lied.png" alt="Logo">
    </a>
    <div class="header-text">Caterer List</div>
  </div>
  
  <div class="STcontainer">
    <nav class="side_navbar">
        <ul class="ul2">
            <li><a routerLink="/superadmin">
                <img src="assets/customer.png" alt="" class="icon-size">
                <span class="nav-item">Customer</span>
            </a></li>
            <li><a routerLink="/superadmin-customer">
                <img src="assets/caterer.png" alt="" class="icon-size">
                <span class="nav-item">Caterer</span>
            </a></li>
            <li><a routerLink="/reportDetails">
                <img src="assets/report.png" alt="" class="icon-size">
                <span class="nav-item">Reports</span>
            </a></li>
        </ul>
    </nav>
</div>

  <div class="search-container">
    <input [(ngModel)]="searchTerm"  placeholder="Search" (input)="applySearchFilter()">
  </div>
<!-- Add a class to your table to apply styles -->
<div class="table-container">

  <table class="styled-table">
    <thead>
      <tr>
        <th (click)="sortBy('status')">Status</th>
        <th (click)="sortBy('catererBasicInfo.catererDisplayName')">Caterer Name</th>
        <th (click)="sortBy('catererBasicInfo.catererEmail')">Email</th>
        <th (click)="sortBy('remarks')">Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let caterer of filteredCaterers">
        <td>
            <select id="actionDropdown" [(ngModel)]="caterer.selectedAction" (change)="handleDropdownChange(caterer)" title="actionDropdown">
              <ng-container *ngIf="getAvailableActions(caterer.status).length > 0; else noActions">
                <option value="" disabled selected>{{ 'Status: ' + caterer.status }}</option>
                <option *ngFor="let action of getAvailableActions(caterer.status)" [value]="action">{{ action }}</option>
              </ng-container>
              <ng-template #noActions>
                <option disabled>No available actions</option>
              </ng-template>
            </select>
    
          </td>
        <td>{{ caterer.catererBasicInfo.catererDisplayName }}</td>
        <td>{{ caterer.catererBasicInfo.catererEmail }}</td>
        <td>
            <!-- Add the remarks dropdown inside the same td -->
            <select id="remarksDropdown" [(ngModel)]="caterer.selectedRemark" (change)="handleRemarksDropdownChange(caterer)"title="remarksDropdown">
              <option value="" disabled selected>{{caterer.remarks}}</option>
              <ng-container *ngIf="caterer.status !== 'Active'">
                <option value="Late deliveries/Unable to accomplish transactions">Late deliveries/Unable to accomplish transactions</option>
                <option value="Repeated Quality complaints">Quality complaints</option>
                <option value="Menu discrepancies">Menu discrepancies</option>
                <option value="Communication issues">Communication issues</option>
                <option value="Health and safety concerns">Health and safety concerns</option>
                <option value="Fraud">Fraudulent Actions</option>
            
              </ng-container>
            </select>
          </td>
          
        
      </tr>
    </tbody>
  </table>
</div>


