<header>
    <header class="CaterPillar-top CaterPillar-top--sticky">
        <div class="container">
           <a  class="logo">
              <img src="assets/caterpillar logo with shadow.png" alt="Logo">
              
           </a>
           
           <!-- <div class="Logo_CSUDivider"></div> -->
           
        </div >
        <!-- <div class="CSU_Title">
            <a routerLink="/register-caterer" class="catererSignUp"></a>
            
        </div> -->
        <!-- Sign Up as Caterer -->
     </header>
    </header>
<div class="dashboard">
  <h1>Welcome, {{ caterer?.catererBasicInfo.catererDisplayName }}</h1>

  <div class="info-container">
      <section *ngIf="caterer" class="caterer-info">
          <h2>Caterer Profile</h2>
          <div><strong>Name:</strong> {{ caterer.catererBasicInfo.catererDisplayName }}</div>
          <div><strong>Email:</strong> {{ caterer.catererBasicInfo.catererEmail }}</div>
          <div><strong>Email Verification:</strong> {{ caterer.catererBasicInfo.catererEmailVerified }}</div>
          <div><strong>Registered Name:</strong> {{ caterer.catererInfo.catererRegisteredName }}</div>
          <div><strong>Registered Address:</strong> {{ caterer.catererInfo.catererRegisteredAddress }}</div>
          <div>
              <strong>TIN:</strong> 
              <span *ngIf="caterer.catererInfo.hasTIN === 'Yes'">
                  Yes (<a href="{{ caterer.catererInfo.tinFileURL }}" target="_blank">View Proof</a>)
              </span>
              <span *ngIf="caterer.catererInfo.hasTIN !== 'Yes'">No</span>
          </div>
      </section>

      <section *ngIf="caterer" class="catering-info">
          <h2>Catering Services</h2>
          <div><strong>Name:</strong> {{ caterer.cateringInfo.cateringName }}</div>
          <div><strong>Address:</strong> {{ caterer.cateringInfo.cateringAddress }}</div>
          <div><strong>Contact:</strong> {{ caterer.cateringInfo.cateringContactNumber }}</div>
      </section>
  </div>

<!--Change Password-->
<div class="CaterPillarCart-container">
      
    <div class="CaterPillar-menu">
    
    </div>
  </div>
  
  <div class="dropdown">
    <a routerLink="/CaterPillarCart" class="CaterPillarCart">
       <img src="assets/CaterPillar Cart.png" alt="Cart">
    </a>
    <div class="dropdown-content">
       <a _ngcontent-ng-c1652595639="" routerlink="/change-caterer-password" ng-reflect-router-link="/change-password" href="/change-password">Change Password</a>
    </div>
  </div> 

  <div class="logout-container">
      <button (click)="logout()">Logout</button>
  </div>
</div>