<app-header-user></app-header-user>
<app-search></app-search>

<div class="page-container">
  <!-- Display the catering information -->
  <div class="catering-list-container">
    <ul>
      <li *ngFor="let caterings of catering">
        <a routerLink="/caterings/{{caterings.id}}">
          <img [src]="caterings.imageUrl" alt="{{caterings.name}}" />
          <div class="content">
            {{caterings.name}}
          </div>
          <span class="favorite {{caterings.favorite ? '' : 'not'}}">
            ❤
          </span>
          <div class="stars">
            <app-star-rating [stars]="caterings.stars"></app-star-rating>
          </div>
          <div class="catering-service-item-footer">
            <div class="origins">
              <span *ngFor="let origin of caterings.origins">
                {{origin}}
              </span>
            </div>
            <div class="location">
              <span>📍</span>
              {{caterings.location}}
            </div>
          </div>
          <div class="cateringPacks">
            <span *ngFor="let cateringPacks of caterings.cateringPacks">
              {{cateringPacks}}
            </span>
          </div>
        </a>
      </li>
    </ul>
  </div>



  <div class="page-container">
    <!-- Display the catering information -->
    <div class="catering-list-container">
      <ul>
        <li *ngFor="let caterer of caterers | async">
          <a>
            <img [src]="caterer.cateringInfo.imageUrl || 'https://firebasestorage.googleapis.com/v0/b/caterpillar-hestia.appspot.com/o/_images%2Fdefault_no_image.png?alt=media&token=c8be7d38-a9e9-47a2-9cb8-5e6bdf3d4758'" alt="Image not available" />
            <div class="content">
              {{ caterer.cateringInfo.cateringName }}
            </div>
            <span class="favorite {{ caterer.favorite ? '' : 'not' }}">
              ❤
            </span>
            <div class="stars">
              <app-star-rating [stars]="caterer.stars"></app-star-rating>
            </div>
            <div class="catering-service-item-footer">
              <div class="origins">
                <span *ngFor="let origin of caterer.origins">
                  {{ origin }}
                </span>
              </div>
              <div class="location">
                <span>📍</span>
                {{ caterer.cateringInfo.cateringAddress }}
              </div>
            </div>
            <div class="Viewpkg">
              <button class="diy-package-button" [routerLink]="['/user-diy-selection', caterer.catererBasicInfo.catererUid]">
                DIY Package
              </button>
              <button class="view-package-button" [routerLink]="['/view-packages', caterer.catererBasicInfo.catererUid]">
                View Packages 
              </button>  
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  

<!-- Display the caterer information in a table -->
<!-- <app-view-caterers-list></app-view-caterers-list> -->