<div class="wrapper">
    <div class="logo">
        <img src="assets/caterpillar logo with shadow.png" alt="">
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button type="submit" class="btn mt-3">Login</button>
    </form>
    <div class="signup">
        <a routerLink="/signup">Sign up</a>
    </div>
    <div class="forgot">
         <a routerLink="/forgotpassword">Forget password?</a>
    </div>
</div>
