<div class="header-container">
    <!-- HEADER -->
    <app-signup-header></app-signup-header>
   
         <nav class="side_navbar">
           <ul class="ul2">
         
             <li><a routerLink="/user-info">
               <img src="assets/user-info.png" alt="" class="icon-size">
               <span class="nav-item">Profile</span>
             </a></li>
             <li><a routerLink="/user-orders">
               <img src="assets/user_ordersicon.png" alt="" class="icon-size">
               <span class="nav-item">Orders</span>
             </a></li>
             <li><a href="/user-history">
               <img src="assets/Add Package Menu.png" alt="" class="icon-size">
               <span class="nav-item">Order History</span>
             </a></li>
            
             <li><a routerLink="/user-changepassword">
               <img src="assets/Caterer Settings.png" alt="" class="icon-size">
               <span class="nav-item">Change Password</span>
             </a></li>
             <div class="side_navbar_separator"></div>
              <!-- <li><a (click)="logout()">
               <img src="assets/Caterer Logout.png" alt="" class="icon-size">
               <span class="nav-item">Logout</span>
             </a></li>   -->
           </ul>
         </nav>
   </div>