<!-- view-extra-service-table.component.html -->
<div class="container">

  <!-- Common Food Items Table -->
<div *ngIf="eventItems.length > 0; else noItems" class="common-table">
  <table class="food-items-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <!-- Actions Header Cell -->
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
  <!-- Common Extra Service Items Table -->
  <ng-container *ngFor="let eventItem of eventItems; let i = index">
    <tr [ngClass]="{'editing-row': i === editedRowIndex}">
      <td>
        <ng-container *ngIf="i !== editedRowIndex; else editModeName">
          {{ eventItem.eventName }}
        </ng-container>
        <ng-template #editModeName>
          <input type="text" [(ngModel)]="selectedeventItem.eventName" class="edit-input">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="i !== editedRowIndex; else editModeDescription">
          {{ eventItem.eventDescription }}
        </ng-container>
        <ng-template #editModeDescription>
          <textarea [(ngModel)]="selectedeventItem.eventDescription" style="resize: none; height: 200px;"></textarea>
        </ng-template>
      </td>
      <!-- Save and Cancel Buttons -->
      <td colspan="2">
        <!-- Edit and Save Icons Row -->
        <ng-container *ngIf="i === editedRowIndex; else viewMode">
          <!-- Save Button -->
          <button class="save-button" (click)="saveRow(i)">
            <img src="assets/save_icon.png" alt="Save" class="icon-size">
          </button>
          <!-- Cancel Button -->
          <button class="cancel-button" (click)="cancelEditRow()">
            <img src="assets/cancel_icon.png" alt="Cancel" class="icon-size">
          </button>
        </ng-container>
        <!-- View Mode Icons Row -->
        <ng-template #viewMode>
          <!-- Edit Button -->
          <button class="update-button" (click)="editRow(i)">
            <img src="assets/arrows_update.png" alt="Edit" class="icon-size">
          </button>
          <!-- Delete Button -->
          <button class="delete-button" (click)="deleteEventItem(eventItem)">
            <img src="assets/trash_can_delete.png" alt="Delete" class="icon-size">
          </button>
        </ng-template>
      </td>
      </tr>
      </ng-container>
      <ng-template #noItems>
        <p class="no-items-message">No events added yet.</p>
      </ng-template>