<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">



<div class="WPage">
  <nav>
    <app-signup-header></app-signup-header>
  </nav>
  <div class="CSU_Panel CSUP_Size">
    <div class="CSU_Spanel CSU_Spanel1 CSU_Spanel2 ">
      <div class="CSU_Spanel_Title">
        <div class="CSU_Spanel_Title1">
          <div class="CSU_Spanel_Title2">
            <a class="logo">
              <img src="assets/caterpillar logo with shadow and lied.png" alt="Logo">
           </a>
            Sign Up as Caterer
          </div>
        </div>
      </div>
      <div class="CSU_Credentials">
        <div class="CSU_email_panel">
          <div class="CSU_email">
            <input 
              type="email"
              class="CSU_email_input"
              placeholder="Email Address"
              [(ngModel)]="catererBInfo.catererEmail"
              #catererEmail
              required
            />
          </div>
        </div>
        
        <div>
          <div class="CSU_password_panel">
            <!-- <div class="CSU_password">
              <input
                type="password"
                class="CSU_password_input"
                placeholder="New Password"
                #catererPwd
                required
              />
              <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
            </div> -->
            <div class="CSU_password">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                class="CSU_password_input"
                placeholder="New Password"
                #catererPwd
                [(ngModel)]="catererBInfo.catererPwd"
                required
              />
              <i 
                [class]="passwordVisible ? 'far fa-eye-slash' : 'far fa-eye'" 
                id="togglePassword" 
                style="cursor: pointer;"
                (click)="togglePasswordVisibility()"
              ></i>
            </div>
          </div>
        </div>
        
        

        <div>
          <div class="CSU_cpassword_panel">
            <div class="CSU_cpassword">
              <input
                [type]="confirmPasswordVisible ? 'text' : 'password'"
                class="CSU_cpassword_input"
                placeholder="Confirm New Password"
                #catererConfirmPwd
                [(ngModel)]="catererBInfo.catererCPassword"
                required
              />
              <i 
                [class]="confirmPasswordVisible ? 'far fa-eye-slash' : 'far fa-eye'" 
                id="toggleConfirmPassword" 
                style=" cursor: pointer;"
                (click)="toggleConfirmPasswordVisibility()"
              ></i>
            </div>
          </div>
        </div>
        
        <div class="btnCSU">
          <button 
            class="btnCatererSignUp bCSU bCSU1 bCSU2 bCSU3 bCSU4" 
            (click)="onSignUpCaterer()">
          Sign Up
        </button>
        </div>
        
        <div class="terms_conditions">
          <div class="terms_conditions1">
            <span class="terms_conditions2">
              By signing up, you agree to CaterPillar 
              <a class="TC Terms" href="/terms">Terms of Service</a> 
              &
              <a class="TC Conditions" href="/privacy-policy">Privacy Policy</a> 
              </span>
          </div>
        </div>

        <div class="lower-login">
          <div class="lowerLogin">
              <span class="spanlogin">
              Already have an account?
              </span>
              <a class="redirectLogin" routerLink="/sign-in">Log In</a>
              
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
