* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 12px;
  }
  
  body {
    margin: 0;
    font-family: 'Langar', sans-serif; /* Apply the custom Langar font */
  }
  
  a {
    text-decoration: none;
  }
  
  /* Define the @font-face rule for Langar font */
  @font-face {
    font-family: 'Langar';
    src: url('./assets/Font/Langar-Regular.ttf') format('truetype');
  }
  