<app-header-user></app-header-user>
<app-search></app-search>

<!-- Display the catering information -->
<ul>
  <li *ngFor="let caterings of catering">
    <a routerLink="/caterings/{{caterings.id}}">
      <img [src]="caterings.imageUrl" alt="{{caterings.name}}" />
      <div class="content">
        {{caterings.name}}
      </div>
      <span class="favorite {{caterings.favorite ? '' : 'not'}}">
        ❤
      </span>
      <div class="stars">
        <app-star-rating [stars]="caterings.stars"></app-star-rating>
      </div>
      <div>
        <div class="catering_service-item-footer">
          <div class="origins">
            <span *ngFor="let origin of caterings.origins">
              {{origin}}
            </span>
          </div>

          <div class="location">
            <span>📍</span>
            {{caterings.location}}
          </div>
        </div>
        <div class="cateringPacks">
          <span *ngFor="let cateringPacks of caterings.cateringPacks">
            {{cateringPacks}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>

<!-- Display the food items -->
<ul>
  <li *ngFor="let foodItem of foodItems | async">
    <a routerLink="/temp-caterer-prof">
      <h2>{{ foodItem.food_name }}</h2>
      <p>{{ foodItem.food_description }}</p>
      <p>Minimum Pax: {{ foodItem.minimum_pax }}</p>
      <p>Pax Price: {{ foodItem.pax_price }}</p>
      <img [src]="foodItem.food_image" alt="{{ foodItem.food_name }}" *ngIf="foodItem.food_image">View Caterer Profile
      <div class="button-container">
        <a routerLink="/user-package-selection" class="left-button">Fixed Package</a>
        <a routerLink="/user-diy-selection" class="right-button">D-I-Y Package</a>
      </div>
    </a>
  </li>

</ul>
