<div class="wrapper">
  <div class="logo" routerLink="/">
    <img src="assets/caterpillar logo with shadow and lied.png" alt="">
  </div>
  <div class="title">USER REGISTRATION</div>
  <div class="info">
    <div class="form-field d-flex align-items-center">
      <input 
      type="text" 
      class="userform" 
      #userName 
      placeholder="Username"
      required autocomplete>
    </div>
    <div class="form-field d-flex align-items-center">
      <input 
      type="email" 
      class="userform" 
      #email
      placeholder="Email"
      required autocomplete>
    </div>
    <div class="form-field d-flex align-items-center">
      <input 
      type="password" 
      class="userform"
      #pwd
      placeholder="Password"
      required autocomplete>
    </div>
    <div class="form-field d-flex align-items-center">
      <input 
      type="password" 
      class="userform"
      #conpwd
      placeholder="Confirm Password"
      required autocomplete>
    </div>
    <div class="form-field d-flex align-items-center">
      <input
      type="number" 
      class="userform"
      name="phone" 
      #phone
      placeholder="Phone Number"
      autocomplete required>
    </div>
    <div class="form-field d-flex align-items-center">
      <input 
      type="text" 
      class="userform"
      name="address" 
      #address
      placeholder="Address"
      required autocomplete>
    </div>
    <div class="form-field d-flex align-items-center">
      <input 
      type="button"
      class="signupbtn" 
      value="Create Account"
      (click)="userauthservice.signup(userName.value, email.value, pwd.value, conpwd.value, phone.value, address.value)"
      >
    </div>
    
    <div class="terms">
       By creating an account, I Agree to Caterpillar's <a href="#">Terms and Conditions</a>
       and <a href="#">Privacy Policy</a>
    </div>
  </div>
</div>
