/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #fd0000;
  }
  
  /* Wrapper for Signup Form */
  .wrapper {
    max-width: 800px;
    margin: 80px auto;
    background-color: #f6f86d;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
  }
  .wrapper .title {
    font-size: 2.0rem;
    text-align: center;
    margin: 10px ;
    color: #f40303;
    font-weight: bold;
  
  }
  
  .wrapper .logo img {
    width: 200px;
    display: block;
    margin: 0 auto; /* Center align the image */
    margin-bottom: 20px;
    filter: drop-shadow(-5px 5px 5px #000000);
  }
  
  .wrapper .info {
    text-align: center;
  }
  
  .wrapper .form-field input {
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(230, 119, 119);
  }
  
  /* Hide the number input spinner for WebKit-based browsers */
  .wrapper .form-field input[type="number"]::-webkit-inner-spin-button,
  .wrapper .form-field input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* You can adjust the margin as needed */
  }
  
  .wrapper .form-field.d-flex {
    display: flex;
    align-items: center;
  }
  
  .wrapper .form-field .phone {
    background-color: #f2f2f2;
    padding: 10px;
    margin-right: 5px; /* Add spacing between the prefix and input */
  }
  
  .wrapper .form-field input.userform {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #333;
    outline: none;
  }
  
  .wrapper .form-field .fa {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
  }
  
  .wrapper .signupbtn {
    width: 100%;
    padding: 10px;
    background-color: #fd0000;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .wrapper .signupbtn:hover {
    background-color: #0ae8dd;
  }
  
  /* Correct placement for checkbox and text */
  .wrapper .info .terms input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 0; /* Remove the margin-left */
  }
  
 .wrapper .info .terms {
    align-items: center;
    color: #000000;
    margin-top: 10px; /* Add spacing between checkbox and text */
  }
  
  .wrapper .info .terms a {
    text-decoration: none;
    color: #089efc;
    margin-left: 5px; /* Add spacing between checkbox and text */
  }
  
  .wrapper .info .terms a:hover {
    color: #f90707;
  }
  