<div class="wrapper">
  <div class="logo">
    <img src="assets/caterpillar logo with shadow.png" alt="">
  </div>
  <div class="info">
    <div class="form-field d-flex align-items-center">
      <input 
      type="text" 
      class="userform" 
      #userName 
      placeholder="Username"
      required autocomplete>
    </div>
    <div class="form-field d-flex align-items-center">
      <input 
      type="email" 
      class="userform" 
      #email
      placeholder="Email"
      required autocomplete>
    </div>
    <div class="form-field d-flex align-items-center">
      <input 
      type="password" 
      class="userform"
      #pwd
      placeholder="Password"
      required autocomplete>
    </div>
    <div class="form-field d-flex align-items-center">
      <input 
      type="password" 
      class="userform"
      #conpwd
      placeholder="Confirm Password"
      required autocomplete>
    </div>
    <div class="form-field d-flex align-items-center">
      <input
      type="number" 
      class="userform"
      name="phone" 
      #phone
      placeholder="Phone Number"
      autocomplete required>
    </div>
    <div class="form-field d-flex align-items-center">
      <input 
      type="text" 
      class="userform"
      name="address" 
      #address
      placeholder="Address"
      required autocomplete>
    </div>
    <div class="form-field d-flex align-items-center">
      <input 
      type="button"
      class="signupbtn" 
      value="Create Account"
      (click)="userauthservice.signup(userName.value, email.value, pwd.value, conpwd.value, phone.value, address.value,terms.value)"
      >
    </div>
    
    <div class="terms">
      <input 
      type="checkbox" 
      name="terms" 
      placeholder="terms"
      #terms>
      <label for="terms">I Agree to the <a href="#">Terms and Conditions</a></label>
    </div>
  </div>
</div>
