<div class="container-fluid g-0">

  <!-- HEADER -->
  <app-signup-header></app-signup-header>

  <!-- MAIN CONTENT -->
  <main>
    
    <div class="side_navbar_bg">
      <div class="side_navbar side_navbar_bg">
        <ul class="ul2">
          <li><a routerLink="/dashboard-caterer">
            <img src="assets/Caterer Menu.png" alt="" class="icon-size">
            <span class="nav-item">DashBoard</span>
          </a></li>
          <li><a routerLink="/add-service-type">
            <img src="assets/Add Service Type.png" alt="" class="icon-size">
            <span class="nav-item">Add Service Type</span>
          </a></li>
          <li><a href="/package-menu">
            <img src="assets/Add Package Menu.png" alt="" class="icon-size">
            <span class="nav-item">Add Package Menu</span>
          </a></li>
          <li><a routerLink="/diy-package">
            <img src="assets/Add DIY Package.png" alt="" class="icon-size">
            <span class="nav-item">Add DIY Package</span>
          </a></li>
          <li><a routerLink="/change-caterer-password">
            <img src="assets/Caterer Settings.png" alt="" class="icon-size">
            <span class="nav-item">Change Password</span>
          </a></li>
          <div class="side_navbar_separator"></div>
          <li><a (click)="logout()">
            <img src="assets/Caterer Logout.png" alt="" class="icon-size">
            <span class="nav-item">Logout</span>
          </a></li>
        </ul>
      </div>
      <div class="height PKGMENU">
        <div class="top-border-bg">
          <div class="top-border">
            <div class="toolbar">
              <div class="search-packageMenu">
                <div class="inputBox_container">
                  <svg class="search_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" alt="search icon">
                    <path
                      d="M46.599 46.599a4.498 4.498 0 0 1-6.363 0l-7.941-7.941C29.028 40.749 25.167 42 21 42 9.402 42 0 32.598 0 21S9.402 0 21 0s21 9.402 21 21c0 4.167-1.251 8.028-3.342 11.295l7.941 7.941a4.498 4.498 0 0 1 0 6.363zM21 6C12.717 6 6 12.714 6 21s6.717 15 15 15c8.286 0 15-6.714 15-15S29.286 6 21 6z">
                    </path>
                  </svg>
                  <input class="inputBox" id="inputBox" type="text" placeholder="Search For Packages" [(ngModel)]="searchTerm"
                    (keyup)="onSearch()">
                </div>
              </div>
            </div>
    
    
            <div class="toolbar-sorting-separator">
              <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span class="button__text">Add New Package</span>
                <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
              </button>
            </div>
            
            <div class="sorting-controls">
              <label>Sort By:</label>
              <div class="separator"></div>
              <select [(ngModel)]="sortingCriteria" (change)="onSortingCriteriaChange()">
                <option class="op" value="packageName">Package Name</option>
                <option class="op" value="typeEvent">Type of Event</option>
                <option class="op" value="numofPax">Number of Guests/Pax</option>
                <option class="op" value="appetizerFI">Appetizer</option>
                <option class="op" value="soupFI">Soup</option>
                <option class="op" value="saladFI">Salad</option>
                <option class="op" value="mainCourseFI">Main Course</option>
                <option class="op" value="dessertFI">Dessert</option>
              </select>
            
              <label>Sort Direction:</label>
              <select [(ngModel)]="sortingDirection" (change)="onSortingDirectionChange()">
                <option class="op" value="asc">Ascending</option>
                <option class="op" value="desc">Descending</option>
              </select>
            </div>
            
          </div>
        </div>
        <!-- Toolbar to add and search employee -->
        
        <div class="pkg-menu-pane-bg">
          <div class="pkg-menu-pane">
            
    
            <div class="row grid-container" >
              <div class="col mt-3" *ngFor="let package of filteredPackages">
                <div class="custom-card">
                  
                  <div class="package-info">
                    <h5>{{ package.packageName }}</h5>
                    <p>Type of Event: <span class="dynamic">{{ package.typeEvent }}</span></p>
                    <p>Number of Guests/Pax: <span class="dynamic">{{ package.numofPax }}</span></p>
                
                    <div class="ficenter">
                      <div class="FI">Food Inclusion</div>
                    </div>
                    
                    <p>Appetizer: <span class="dynamic">{{ package.appetizerFI}}</span></p>
                    <p>Soup: <span class="dynamic">{{ package.soupFI}}</span></p>
                    <p>Salad: <span class="dynamic">{{ package.saladFI}}</span></p>
                    <p>Main Course: <span class="dynamic">{{ package.mainCourseFI}}</span></p>
                    <p>Dessert: <span class="dynamic">{{ package.dessertFI}}</span></p>
                    
                    <!-- <p>Extra Service: You might want to bind data here if available</p> -->
                    <div class="card-actions">
                      <button class="btn btn-edit" (click)="openPackageModal(package)">Edit</button>
                      <button class="btn btn-delete" (click)="deletePackage(package.id)">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </main>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter Package Menu Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="packageMenuForm">

          <!-- Package Name -->
          <div class="row mt-3">
            <div class="col">
              <div class="inputGroup">
                <input type="text" required="" autocomplete="off" class="form-control" formControlName="packageName">
                <label for="name">Package Name</label>
              </div>
            </div>
          </div>

          <!-- Number of Pax -->
          <div class="row mt-3">
            <div class="col">
              <div class="inputGroup">
                <input type="number" required="" autocomplete="off" class="form-control" formControlName="numofPax">
                <label for="name">Number of Guest/Pax</label>
              </div>
            </div>
          </div>

          <!-- Type of Event -->
          <div class="row mt-3">
            <div class="col">
              <div class="inputGroup">
                <select class="form-select" id="eventType" formControlName="eventType" required>
                  <option value="" disabled selected>Select Event Type</option>
                  <option *ngFor="let option of eventOptions" [value]="option">
                    {{ option }}
                  </option>
                </select>
                <label for="eventType">Select Event Type</label>
              </div>
            </div>
          </div>

          <!-- Food Inclusions -->
          <div class="row mt-3">
            <div class="col">
              <h6 class="typeOfEventTI">Food Inclusions</h6>

              <!-- Appetizer -->
              <div class="inputGroup">
                <select class="form-select" id="appetizerFI" formControlName="appetizerFI" required>
                  <option value="" disabled selected>Select Appetizer</option>
                  <option *ngFor="let option of appetizerOptions" [value]="option">
                    {{ option }}
                  </option>
                </select>
                <label for="appetizerFI">Select Appetizer</label>
              </div>

              <!-- Soup -->
              <div class="inputGroup">
                <select class="form-select" id="soupFI" formControlName="soupFI" required>
                  <option value="" disabled selected>Select Soup</option>
                  <option *ngFor="let option of soupOptions" [value]="option">
                    {{ option }}
                  </option>
                </select>
                <label for="soupFI">Select Soup</label>
              </div>

              <!-- Salad -->
              <div class="inputGroup">
                <select class="form-select" id="saladFI" formControlName="saladFI" required>
                  <option value="" disabled selected>Select Salad</option>
                  <option *ngFor="let option of saladOptions" [value]="option">
                    {{ option }}
                  </option>
                </select>
                <label for="saladFI">Select Salad</label>
              </div>

              <!-- Main Course -->
              <div class="inputGroup">
                <select class="form-select" id="mainCourseFI" formControlName="mainCourseFI" required>
                  <option value="" disabled selected>Select Main Course</option>
                  <option *ngFor="let option of mainCourseOptions" [value]="option">
                    {{ option }}
                  </option>
                </select>
                <label for="mainCourseFI">Select Main Course</label>
              </div>

              <!-- Dessert -->
              <div class="inputGroup">
                <select class="form-select" id="dessertFI" formControlName="dessertFI" required>
                  <option value="" disabled selected>Select Dessert</option>
                  <option *ngFor="let option of dessertOptions" [value]="option">
                    {{ option }}
                  </option>
                </select>
                <label for="dessertFI">Select Dessert</label>
              </div>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
          (click)="isUpdateMode ? updatePackage() : addPackage()" data-bs-dismiss="modal">
          {{ isUpdateMode ? 'Update' : 'Add' }}
        </button>
      </div>
    </div>
  </div>
</div>