.black-border {
  border: 1px solid black;
}

.toolbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-packageMenu {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-packageMenu {
  /* width: 50%; */
  /* height: 90%; */
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.5);
}

.search-packageMenu input {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  font-size: 1.3rem;
}

/* Search Package Menu */
.inputBox_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* max-width: 14em; */
  /* width: fit-content; */
  /* height: fit-content; */
  background-color: #FFD0B1;
  border-radius: 0.8em;
  overflow: hidden;
  width: 500px;
  height: 40px;
}

.search_icon {
  height: 15px;
  padding: 0 0.5em 0 0.8em;
  fill: #131416;
}

.inputBox {
  background-color: transparent;
  color: rgb(23, 23, 23);
  outline: none;
  width: 100%;
  border: 0;
  /* padding: 0.5em 1.5em 0.5em 0; */
  font-size: 15px;
}

::placeholder {
  color: rgba(23, 23, 23, 0.8);
}

/* ---------------------------- MODDAL ------------------------------------- */
.modal-content {
/* background-color: #fff016; Background color for the modal content */
/* border-radius: 10px; Rounded corners for the modal */
}

.modal_bg {
background-color: #fff016;
border-radius: 10px; 
/* max-width: 500px; */
}

.modal-header{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--bs-modal-header-padding);
  border-bottom: none;
}

.modal_pkgHeader {
  display: flex;
}

.btnClose_pos button{
  position: relative;
  right: -460px;
}

.modal-body {
  display: flex;
  padding: 10px; 
}

.disp_FoodInclusions table {
  width: 100%; /* Set the width to 100% of the container */
  max-width: 600px; /* Set a maximum width if needed */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.disp_FoodInclusions th, .disp_FoodInclusions td {
  text-align: center; /* Center align text in cells */
}

.modal-footer {
border-top: none; /* Remove the border at the top of the footer */
padding: 15px 20px; /* Add padding to the modal footer */
}

.modal-footer button {
background-color: #AC0000; /* Background color for buttons in the modal footer */
color: #fff; /* Text color for buttons in the modal footer */
border: none; /* Remove the button border */
border-radius: 5px; /* Rounded corners for buttons */
padding: 10px 20px; /* Add padding to buttons */
cursor: pointer; /* Add a pointer cursor to buttons */
transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
}

.modal-footer button:hover {
background-color: #fff; /* Background color on button hover */
color: #AC0000; /* Text color on button hover */
}

.modal-footer .btn-close {
color: #AC0000; /* Close button color */
font-size: 1.5rem; /* Close button font size */
position: relative;
top: -10px;
}

/* Adjust modal width if needed */
.modal-dialog {
  max-width: 1140px; 
}

.modal_pkgFields{
  min-width: 600px;
}

/*-----------------------------------------------------------*/
.top-border{
display: flex;
justify-content: center;
align-items: center;
padding: 5px 0px 5px 0px;
}

.top-border-bg{
background-color: #AC0000;
}

.toolbar-sorting-separator{
display: flex;
width: 250px;
justify-content: center;
}

/* #exampleModal input{

} */


/**/

.sorting-controls {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  /* gap: 10px; */
  padding: 15px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  background-color: #FFD0B1;
  margin: 0;
  padding: 6px;
  box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.5);
}

.separator{
display: flex;
width: 15px;
}

.sorting-controls label {
/* margin-right: 5px; */
/* margin-left: 10px; */
padding-left: 10px;
font-size: 15px;
}

.sorting-controls select {
padding: 3px 5px;
border: 1px solid #AC0000;
border-radius: 5px;
background-color: transparent;
/* font-size: 14px; */
}

.sorting-controls select:focus {
outline: none; /* removes browser default outline on focus */
border-color: #AC0000; /* border color on focus */
box-shadow: 0 0 5px rgba(172, 0, 0, 0.2);/* subtle shadow for focus effect */
}

.op{
/* display: flex; */
background-color: #FFD0B1;
}


.op:hover {
background-color: #AC0000; /* color when hovering over an option */
color: #AC0000; /* text color when hovering over an option */
}
/**/


.pkg-menu-pane{
display: flex;
overflow: auto;
padding: 20px; 
width: 100%;
height: 100%;
}

.pkg-menu-pane-bg{
background-color: #FFD0B1;
}

.package-tile {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.pt-effect{
border: 5px solid #FFD700; /* Yellow border */
background-color: #ffffff;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
border-radius: 5px;
cursor: pointer;
transition: transform 0.2s; 
height: 350px;
}

.package-tile:hover {
transform: scale(1.05); /* Slightly enlarges the tile when hovered */
}

.plus-icon {
font-size: 40px; /* Size of the + icon */
color: #FF0000; /* Red color for the + icon */
margin-bottom: 10px; /* Spacing between the + icon and the text */
}

.package-tile p {
font-size: 18px; /* Font size of the text */
color: #000; /* Black color for the text */
}

/**/
.custom-card {
  /* border: 5px solid #FFD700; */
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.package-image {
background-color: #FFF;
height: 120px;  /* adjust as needed */
display: flex;
justify-content: center;
align-items: center;
}

.package-info {
background-color: #AC0000;
padding: 15px;
color: #fff;
margin: 0;
}

.package-info p{
/* display: flex; */
margin: 18px;
}

.package-info span{
text-align: center;
/* margin: 18px; */
/* font-size: ; */
}


.ficenter{
display: flex;
justify-content: center;
}

.FI{
display: flex;
background-color: #ffd700bf;
color: black;
width: fit-content;
padding: 5px 10px 5px 10px;
border-radius: 10px;
box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.5);
}



h5 {
background-color: #ffd700bf;
box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.5);
padding: 10px;
margin: 0;
text-align: center;
color: #000;
border-radius: 10px;
}

.card-actions {
display: flex;
justify-content: space-between;
/* margin-top: 200px; */
}

.btn-edit {
background-color: #FFD700;
color: #000;
border: none;
}

.btn-delete {
background-color: #FF0000;
color: #FFF;
border: none;
}

.btn-edit:hover, .btn-delete:hover {
opacity: 0.9;
}

.package-image, .package-info {
flex: 1;
/* overflow: hidden;  */
width: 100%;
/* height: 100vh;  */
}



/*Button*/
.button {
position: relative;
width: 180px;
height: 40px;
cursor: pointer;
display: flex;
align-items: center;
border: 1px solid #FFD0B1;
background-color: #FFD0B1;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.5);
}

.button, .button__icon, .button__text {
transition: all 0.3s;
}

.button .button__text {
transform: translateX(5px);
color: #343a40;
font-size: 15px;
display: flex;
/* margin-right: 50px; */

}

.button .button__icon {
position: absolute;
transform: translateX(125px);
height: 100%;
width: 46px;
background-color: #FFD0B1;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
}

.button .svg {
width: 30px;
stroke: #343a40;
margin-left: 20px;

}

.button:hover {
background: #FFD0B1;
display: flex;
/* justify-content: center; */
}

.button:hover .button__text {
color: transparent;
}

.button:hover .button__icon {
width: 148px;
transform: translateX(0);
}

.button:active .button__icon {
background-color: #FFD0B1;
}

.button:active {
border: 1px solid #FFD0B1;
}

.grid-container {
display: grid;
grid-template-columns: auto auto auto;
padding: 10px;
}

.inputGroup {

margin: 2em 0 1em 0;
position: relative;
}

.inputGroup input {
font-size: 100%;
  padding: 1em;
  outline: none;
  border: 2px solid #AC0000;
  background-color: transparent;
  /* border-radius: 20px; */
  width: 100%;
}

.inputGroup select {
font-size: 100%;
  padding: 1em;
  outline: none;
  border: 2px solid #AC0000;
  background-color: transparent;
  /* border-radius: 20px; */
  width: 100%;
}

.inputGroup label {
font-size: 100%;
position: absolute;
top: 0;
padding: 0.8em;
margin-top: 3px;
margin-left: 0.5em;
/* margin: 0.5em 0.5em 0.5em 0.22em; */
pointer-events: none;
transition: all 0.3s ease;
color: rgb(23, 23, 23, 0.7);
background-color: #FFF016;
}

/* .inputGroup :is(input, select):focus, .inputGroup :is(input:valid, select:valid)~label {
transform: translateY(-50%) scale(1);
margin: 0em;
margin-left: 1.3em;
padding: 0.4em;
color: rgb(23, 23, 23);
background-color: #FFF016;
}

.inputGroup :is(input:focus, input:valid, select:focus, select:valid) {
border-color: #AC0000;
} */

.inputGroup :is(input:focus, input:valid)~label {
transform: translateY(-50%) scale(1);
margin: 0em;
margin-left: 1.3em;
padding: 0.4em;
color: rgb(23, 23, 23);
background-color: #FFF016;
}

.inputGroup :is(select:focus, select:not(:empty))~label {
transform: translateY(-50%) scale(1);
margin: 0em;
margin-left: 1.3em;
padding: 0.4em;
color: rgb(23, 23, 23);
background-color: #FFF016;
}

.inputGroup :is(select:focus, select:not(:empty)) {
border-color: #AC0000;
}

.inputGroup :is(input:focus, input:valid) {
border-color: #AC0000;
}

input[type="file"] {
display: none;
}

.custom-file-upload {
border: 1px solid #ccc;
display: inline-block;
padding: 6px 12px;
cursor: pointer;
}

/* .PKGMENU{

} */

/*Side Navbar*/
.ul2{
list-style-type: none;
margin: 0;
padding: 0;
/* position: relative; */
}

.STcontainer{
display: flex;
}

.side_navbar{
position: absolute;
top: 81px;
bottom: 0;
left: 0;
height: 100%;
background: #AC0000;
width: 60px;
overflow: hidden;
transition: width 0.2s linear;
box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.side_navbar_bg{
background: #AC0000;
height: 100%;
}

.ul2 a{
position: relative;
color: white;
font-size: 16px;
display: flex;
justify-self: center;
align-items: center;
width: 300px;
padding: 6px;

}

.ul2 a:hover{
background: #FF6A00;
cursor: pointer;
color: #FFF016;
text-shadow: 0px 0px 5px black;
}

.ul2 a:hover img{
/* background:  #AC0000; */
filter: invert(12%) sepia(81%) saturate(10000%) hue-rotate(355deg) brightness(88%) contrast(116%) drop-shadow(0px 0px 5px white);
}

.side_navbar:hover{
width: 250px;
transition: all 0.5s ease;
}

.logout{
position: absolute;
bottom: 0;
}

.icon-size{
height: 50px;
}

.nav-item{
padding-left: 15px;
}

.side_navbar_separator{
height: 210px;
}

.PKGMENU{
margin-left: 60px;
}
