  <div class="displayTable">
      <div class="displayTableCell">
        <div class="authBlock">  
          <div class="logo" routerLink="/">
            <img src="assets/caterpillar logo with shadow and lied.png" alt="CaterPillar Logo">
          </div>
          <div class="info">
              <div class="form-field d-flex align-items-center">
                <input 
                type="text" 
                class="useremail"              
                placeholder="Enter Email"
                autocomplete required
                #email/>
              </div>
          </div>    
          
          <div class="formGroup">
            <button type="button" class="btn btnPrimary" (click)="userAuthService.ForgotPassword(email.value)">
              <i class="fas fa-redo-alt"></i>
              Reset Password
            </button>
          </div>
        </div>
        <div class="redirectToLogin">
          <span>Go back to?<span class="redirect" (click)="goBack()">Log in</span></span>
        </div>
      </div>
    </div>
